<div class="container">
  <div class="form-container">
    <h2 class="title">Welcome</h2>

    <!-- Button Group -->
    <div class="button-group" *ngIf="!isUserLoggedIn">
      <button (click)="showLoginForm()" class="btn login-btn">Login</button>
      <button (click)="showRegistrationForm()" class="btn register-btn">
        Register
      </button>
    </div>

    <!-- Conditionally show LoginComponent or RegisterComponent -->
    <app-login *ngIf="isLoginFormVisible" (loginSuccess)="onLoginSuccess()"></app-login>
    <app-register *ngIf="isRegistrationFormVisible"></app-register>

    <!-- Show Profile when user is logged in -->
    <app-profile *ngIf="isUserLoggedIn"></app-profile>
  </div>
</div>
