<div class="container">
    <div class="login_form" id="login">
      <form (ngSubmit)="loginUser()">
        <h3>Login</h3>
  
        <div class="input_box">
          <input type="email" [(ngModel)]="email" name="email" id="login_email" placeholder="Enter email address" required />
        </div>
  
        <div class="input_box">
          <input type="password" [(ngModel)]="password" name="password" id="login_password" placeholder="Enter your password" required />
        </div>
  
        <button type="submit">Log In</button>
      </form>
    </div>
</div>
  